
.my-card-link {
    /* margin-bottom: 40px; */
}

.my-card-link a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.my-overlay {
    word-break: normal;
    overflow: hidden;   
}

.my-title {
    font-size: 1.2rem
}